* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

#root {
  align-items: center;
  background: whitesmoke;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.calculator {
  box-shadow: -1px 1px 12px -3px slategray; 
  height: 100vh;
  max-width: unset;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .calculator {
    height: 80vh;
    max-width: 600px;
  }
}

h1 {
  color: slategray;
  flex: 0 0 auto;
  font-size: 1.4rem;
  padding: 60px 20px 30px 20px;
  margin: 0px;
  min-height: 120px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 769px) {
  h1 {
    min-height: 90px;
    padding: 30px 20px 30px 20px;
  }
  
}

.screen {
  font-family: 'Share Tech Mono', monospace;
  width: 100%;
}

.currentOperation {
  background-color: lightseagreen;
  color: lightgreen;
  padding: 15px;
  min-height: 58px;
  text-align: right;
}

.display {
  background-color: darkslateblue;
  color: whitesmoke;
  font-size: 3rem;
  min-height: 84px;
  padding: 15px;
  text-align: right;
  width: 100%;
}

.calculator-buttons {
  display: flex;
  height: calc(100% - 262px);
  flex-flow: row wrap;
}

@media screen and (min-width: 769px) {
  .calculator-buttons {
    height: calc(100% - 232px);
  }
}

.numbers {
  background-color: lightcoral;
  font-family: 'Share Tech Mono', monospace;
  width: 78%;
}

.operations {
  background-color: lightslategray;
  font-family: 'Share Tech Mono', monospace;
  width: 22%;
}

button {
  border: 4px solid #222222;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  height: calc(20% - 10px);
  margin: 5px;
}

.numbers button {
  width: calc(33.33% - 10px) ;
}

.operations button {
  width: calc(100% - 10px);
}

.operations button:last-child {
  height: calc(40% - 10px) ;
}

button.ac {
  width: calc(100% - 10px);
}





